/*
!/.profile
!/.bash_aliases
!/.bash_logout
!/.bash_profile
!/.bashrc
!/.config/
!/.gitignore
!/.git-prompt.sh
!/.gitconfig.example
!/.gnupg/
!/.kube/

.config/*
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json


.gnupg/*
!.gnupg/gpg.conf

.kube/*
!.kube/k8s-cluster-admin-private-key.pem
