[color]
        ui = true
[core]
	editor = code --wait
	pager = 
[commit]
	gpgsign = true
[alias]
	last = log -1 HEAD
        aa = add --all
        cm = !git add -A && git commit -m
	get = !git fetch --prune && git pull --rebase=preserve && git submodule update --init --recursive
        up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	put = !git commit --all && git push
        s = status --short --branch
	history = log --color --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
        list-aliases = "!git config -l | grep alias | cut -c 7-"
[log]
	showSignature = true
[push]
	followTags = true
[includeIf "gitdir:~/projects/____some_project_name____/"]
        path = ~/projects/____some_project_name____/.gitconfig
[includeIf "gitdir:~/projects/____some_project_name____/"]
        path = ~/projects/____some_project_name____/.gitconfig
[includeIf "gitdir:~/projects/____some_project_name____/"]
        path = ~/projects/____some_project_name____/.gitconfig
